<a href="https://colab.research.google.com/github/masnaashraf/Python-and-ML/blob/main/list_tuple_dictionary_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**list**

mutable,orederd,take duplicate values

In [ ]:
mylist=["banana","apple","cherry"]
print(mylist)

['banana', 'apple', 'cherry']

In [ ]:
#adding item to end of list "append"

mylist.append("apple")
print(mylist)

['banana', 'apple', 'cherry', 'apple']

In [ ]:
#adding item to a specific position "insert"

mylist.insert(1,"watermelon")
print(mylist)

['banana', 'watermelon', 'apple', 'cherry', 'apple']

In [ ]:
#adding a list to another list or join two list "extend"
mylist.extend(["icecream","juice"])
print(mylist)

['banana', 'watermelon', 'apple', 'cherry', 'apple', 'icecream', 'juice']

In [ ]:
#slicing
mylist[1:5]
#pics value from start index to end index excluding value of end index

['watermelon', 'apple', 'cherry', 'apple']

In [ ]:
#negative indexing
mylist[-1:-4]

[]

In [ ]:
mylist[-4:-1]
#here starts from index -4 till -1 excluding -1

['cherry', 'apple', 'icecream']

In [ ]:
for i in mylist:
  print(i)

banana
watermelon
apple
cherry
apple
icecream
juice

In [ ]:
for i in mylist:
  print(i[0]) #printing first letter of each item

b
w
a
c
a
i
j

In [ ]:
for i in mylist:
  print(i[0:3])

ban
wat
app
che
app
ice
jui

In [ ]:
a=[123,234,334,432,545,656]
for i in a:
  print(i[0])

TypeError: ignored

In [ ]:
#sorting list in asscending order
mylist.sort()
print(mylist)

['apple', 'apple', 'banana', 'cherry', 'icecream', 'juice', 'watermelon']

In [ ]:
#sorting list in descending order
mylist.sort(reverse=True)
print(mylist)

['watermelon', 'juice', 'icecream', 'cherry', 'banana', 'apple', 'apple']

In [ ]:
a=[1,2,3,4,5]
i=1
b=len(a)
while i<b:
  print(a[3])
  i=i+1 #if this line is not given loop will execute indefinitly

4
4
4
4

In [ ]:
a=[1,2,3,4,5]
#updating list using slicing to a range of index position
a[1:3]=[10,20,30]
a

[1, 10, 20, 30, 4, 5]

In [ ]:
a=[1,2,3,4,5]
#updating list using slicing to a range of index position
a[1:3]=[10,10,10]
a

[1, 10, 10, 10, 4, 5]

In [ ]:
a=[1,2,3,4,5]
#updating list using slicing to a range of index position
a[1:3]=[10]
a

[1, 10, 4, 5]

In [ ]:
a=[1,2,3,4,5]
#updating list using slicing to a range of index position
a[1:5]=[20]
a

[1, 20]

In [ ]:
a=[1,2,3,4,5]
#updating list using slicing to a range of index position
a[2:5]=[10]
a

[1, 2, 10]

In [ ]:
#inserting value into list using index position
a=[1,2,3,4,5]
a.insert(3,30)
a

[1, 2, 3, 30, 4, 5]

In [ ]:
g=[]
g.extend(20)
g

TypeError: ignored

In [ ]:

#concatenating tuple
g=[100]
a.extend(g)
a

[1, 2, 3, 30, 4, 5, 100]

In [ ]:
a.extend([200,300,400])
a

[1, 2, 3, 30, 4, 5, 100, 200, 300, 400, 200, 300, 400]

different ways of deleting elements from list

In [ ]:
#removing element fromlist
a.remove(100)
a

[1, 2, 3, 30, 4, 5, 200, 300, 400, 200, 300, 400]

In [ ]:
a.pop()

400

In [ ]:
a

[1, 2, 3, 30, 4, 5, 200, 300, 400, 200, 300]

In [ ]:
a.pop(3)

30

In [ ]:
a=[1, 2, 3, 30, 4, 5, 200, 300, 400, 200, 300]
del a[0]
a

[2, 3, 30, 4, 5, 200, 300, 400, 200, 300]

In [ ]:
a.clear()
a
#here list remains but clear function empties the list

[]

In [ ]:
a=[1, 2, 3, 30, 4, 5, 200, 300, 400, 200, 300]
del a

#this deletes list completely without keeping it empty

**Tuple**
not changeable,can have duplicate elements

for adding elemnts to tupple we need to first convert the tuple to list and then make changes their and again convert to tuple

In [ ]:
tup=(2,3,4,6,7,9)
tup[0]

2

In [ ]:
l=list(tup)
print(l)

[2, 3, 4, 6, 7, 9]

In [ ]:
l[0]=0
print(l)

[0, 3, 4, 6, 7, 9]

In [ ]:
tup=tuple(l)
print(tup)
print(type(tup))

(0, 3, 4, 6, 7, 9)
<class 'tuple'>

typecasting

In [ ]:
a=10
print(type(a))
print(float(a))

<class 'int'>
10.0

dictionary

In [ ]:
d={}
d.update({1:"abc"})
d

{1: 'abc'}

In [ ]:
dict={10:"a",20:"b",3:"c"}
dict[10]

'a'

In [ ]:
thisdict={"brand":"Ford",
          "electric":False,
          "year":1964,
          "colors":["red","black","white"]}
type(thisdict)

dict

In [ ]:
thisdict["colors"]

['red', 'black', 'white']

In [ ]:
type(thisdict["colors"])

list

In [ ]:
thisdict["colors"][1]

'black'

opps python

In [ ]:
class Student:
  pass

In [ ]:
#creating object for the class
s1=Student()
s2=Student()
s3=Student()
s4=Student()

In [ ]:
#assigning valuesa to objects
s1.name='Mohit'
s1.age=25
s2.rollnumber=101
s3.age=20

In [ ]:
#finding the attributes associated to a particular object s1
s1.__dict__

{'age': 25, 'name': 'Mohit'}

In [ ]:
#finding the attributes associated to a particular object s2
s2.__dict__

{'rollnumber': 101}

In [ ]:
s4.__dict__
#is an empty dictionaryt as we didnot assign any values to the object s4

{}

In [ ]:
Student.__dict__

mappingproxy({'__dict__': <attribute '__dict__' of 'Student' objects>,
              '__doc__': None,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'Student' objects>})

hasattr
getattr
delattr
setattr

In [ ]:
#hasattr(object,attribute) to check whether particular atrribute existed for the object
#getattr(object,attribute)  to finding the value of attribute in the object
#delattr(object,attribute)   to detlete the attribute
#setattr(object,attribute,value)  to set a new attribute and vale to object

In [ ]:
print(hasattr(s1,'name'))

True

In [ ]:
print(hasattr(s3,'name'))

False

In [ ]:
getattr(s1,"name")

'Mohit'

In [ ]:
type(getattr(s1,"name"))

str

In [ ]:
getattr(s2,'rollnumber')

101

In [ ]:
s3.__dict__

{'age': 20}

In [ ]:
delattr(s3,"age")

In [ ]:
s3.__dict__

{}

In [ ]:
s4.__dict__

{}

In [ ]:
setattr(s4,"name","maya")

In [ ]:
s4.__dict__

{'name': 'maya'}

In [ ]:
class Person:
  totalsu=20 #class attribute

s1=Person()
s2=Person()

In [ ]:
s1.__dict__

{}

In [ ]:
Person.__dict__

mappingproxy({'__dict__': <attribute '__dict__' of 'Person' objects>,
              '__doc__': None,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              'totalsu': 20})

class attribute vs instant attribute

Class Variables — Declared inside the class definition (but outside any of the instance methods). They are not tied to any particular object of the class, hence shared across all the objects of the class. Modifying a class variable affects all objects instance at the same time.

Instance Variable — Declared inside the constructor method of class (the __init__ method). They are tied to the particular object instance of the class, hence the contents of an instance variable are completely independent from one object instance to the other.

class Car:
    wheels = 4    # <- Class variable
    def __init__(self, name):
        self.name = name    # <- Instance variable

Instant attribute -a ttribute associated with object
class attribute-attribute associated with class 
instant method
method-

In [ ]:
class student:
  #class attribute
  totalstu=20
  classnteachername="mohit"

  #intance methods

  def printHello(self):
    print(self.name)
    print("hello")

  def print(self,str):
    print(str)
  
  def printName(self):
    print(self.name)
  def addName(raw,name): #any variable namecan be used intead of self(here used "raw")
    raw.name=name

  def test(self):
    student.totalstu=25
    print(student.totalstu)
    student.test_class=90
    print(student.test_class)

s1=student()
s2=student()

In [ ]:
s1.name="Mohit"
s1.printHello()

Mohit
hello

In [ ]:
s2.addName("deep")

In [ ]:
s1.__dict__

{'name': 'Mohit'}

In [ ]:
s2.__dict__

{'name': 'deep'}

In [ ]:
s1.test()

25
90

In [ ]:
s1.__dict__

{'name': 'Mohit'}

In [ ]:
s1.totalsu=101

In [ ]:
s1.__dict__

{'name': 'Mohit', 'totalsu': 101}

**constructor**

constructor is automatically created once the object is created

In [ ]:
class student:
  #class attribute
  totalstu=20
  classteacher="probjobt"

  #constructor (constructor is automatically created when an object is created) no constructor overloading is possible in python
  def __init__(self):
    print("Constructor is called")
    pass

  #instance method

  def printt(self,str):
    print(str)

s1=student()
s2=student()

Constructor is called
Constructor is called

In [ ]:
s1.printt("hello")

hello

In [ ]:
class student:
  #class attribute
  totalstu=20
  classteacher="probjobt"

  #constructor (constructor is automatically created when an object is created) no constructor overloading is possible in python
  def __init__(self):
    self.name="maya"
    self.age=20
    self.roll=101
    pass

  #instance method

  def printt(self,str):
    print(str)

s1=student()
s2=student()
s3=student()

#all the objects with same value

print(s1.__dict__) #to find the attribute associated with the object

print(s2.__dict__)

print(s2.__dict__)

{'name': 'maya', 'age': 20, 'roll': 101}
{'name': 'maya', 'age': 20, 'roll': 101}
{'name': 'maya', 'age': 20, 'roll': 101}

In [ ]:
class student:
  #class attribute
  totalstu=20
  classteacher="probjobt"

  #constructor (constructor is automatically created when an object is created) no constructor overloading is possible in python
  def __init__(self,name,age,roll):
    self.name=name
    self.age=age
    self.roll=roll
    pass

  #instance method

  def printt(self,str):
    print(str)

#each  the objects with different value passed as argument
s1=student("maya",20,101)
s2=student("maya",25,102)
s3=student("maya",20,105)



print(s1.__dict__) #to find the attribute associated with the object

print(s2.__dict__)

print(s2.__dict__)

{'name': 'maya', 'age': 20, 'roll': 101}
{'name': 'maya', 'age': 25, 'roll': 102}
{'name': 'maya', 'age': 25, 'roll': 102}

In [ ]:
#changing name of s1
s1.name="probjobt"
print(s1.__dict__)

{'name': 'probjobt', 'age': 20, 'roll': 101}

**ACCESS SPECIFIER**
PUBLIC-CAN BE VISIBLE ANYWHERE INSIDE AND OUTSIDE OF CLASS AND PACKAGE
PRIVATE- BOUND TO SPECIFIC CLASS WHERE IT IS DEFINED
PROTECTED-

PRIVATE

In [ ]:
class student:
  totalstu=20
  classteacher="maya"

  def __init__(self,name,age,roll):
    self.__name=name #private attribute
    self.age=age  #public attribute
    self.roll=roll  #public attribute

    def printt(self,str):
      print(str)

    def printt(self):
      print(self.name)
  
    def printt(self,name):
      print(self.name)

    def test(self):
      student.totalstu=25
      print(student.totalstu)

s1=student("maya",20,101)
s2=student("maya",25,102)
s3=student("maya",20,105)

In [ ]:
s1.age

20

In [ ]:
s1.roll

101

In [ ]:
s1.name #here name is not accessible as it was declared private

AttributeError: ignored

In [ ]:
#creating a new public method to access the name
class student:
  totalstu=20
  classteacher="maya"

  def __init__(self,name,age,roll):
    self.__name=name #private attribute
    self.age=age  #public attribute
    self.roll=roll  #public attribute

    def printt(self,str):
      print(str)

    def printt(self):
      print(self.name)
  
    def printt(self,name):
      print(self.name)

  #public user defined method to access private attribute name
  def getName(self):
    return self.__name

    def test(self):
      student.totalstu=25
      print(student.totalstu)

s1=student("maya",20,101)
s2=student("john",25,102)
s3=student("ram",20,105)

In [ ]:
print(s1.getName())

maya

In [ ]:
s2.age

25

In [ ]:
s2.getName()

'john'

**inheritance**
super keyword

In [ ]:
class Person:
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname

  def printnmae(self):
    print(self.fname)
    print(self.lname)

#child class

class Student(Person):
  def __init__(self, fname, lname,year):
      super().__init__(fname, lname) #using superkeyword to inherit the values from parent class using super keyword
      self.graduationyear=year

  def welcome(self):
    print(f"welcome {self.fname} {self.lname} to the class of {self.graduationyear}")

x=Student("vinay","kumar",2019)
x.welcome()

y=Student("maya","gupta","2020")
y.welcome()

welcome vinay kumar to the class of 2019
welcome maya gupta to the class of 2020

In [ ]:
x.printnmae()

vinay
kumar

In [ ]:
y.printnmae()

maya
gupta

NumPy-Numerical python
SciPy
Mathplotlib
Pandas
Scikit Learn

classification
regreesion
corelation

**NumPy**